@font-face {
    font-family: mongoose;
    src: url('../../assests/Fontspring-DEMO-mongoose-regular.otf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: mongoose;
    src: url('../../assests/Fontspring-DEMO-mongoose-bold.otf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: mongoose;
    src: url('../../assests/Fontspring-DEMO-mongoose-medium.otf') format('truetype');
    font-weight: light;
}
@font-face {
    font-family: mongoose;
    src: url('../../assests/Fontspring-DEMO-mongoose-light.otf') format('truetype');
    font-weight: lighter;
}

.container{
    width: 87%;
    margin:  0 auto;
    /* position: relative; */
}

.title-primary p {
    font-family: mongoose;
    color: #f92e2d ;
    font-weight: bold;
    line-height: .85;
    font-size: 14vw;
    overflow-y: hidden;
}
h1{
    font-family: mongoose;
    color: #f92e2d ;
    font-weight: bold;
    line-height: .85;
    font-size: 14vw;
    overflow-y: hidden;
}
.background-text{
    position: absolute !important;
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px #0027429e;
    font-family: mongoose,poppins;
    font-weight: bold;
    z-index: -1;
}
.me{
    top: 30vh;
    right: 0;
    font-size: 75vh;
}
.about{
    bottom: 10vh;
    left: -5%;
    font-size: 75vh;
}

.image{
    width: 70%;
    height: 400px;
    border: 15px solid white;
    z-index: -1;
}
.title{
    font-family: mongoose;
    color: #f92e2d ;
    font-weight: bold;
    font-size: 8vw;
    position: absolute;
    top: 9vh;
    left: 0;
    line-height: .8;
    overflow-y: hidden;
}
.skills .header,
.contact .header
{
    border-top: 1px solid #f92e2d;
    border-bottom: 1px solid #f92e2d;
}
.skills .header p,
.contact .header p{
    font-family: mongoose;
    color: #f92e2d ;
    font-weight: bold;
    line-height: .85;
    font-size: 10vw;
    overflow-y: hidden;
}
.bg{
    background-color: #0a0a0aeb;
    height: 200vh;
    padding: 12rem 0;
    overflow-y: hidden;
}
.skill{
    width: 80%;
    margin: 0 auto;
}
.skills-wrapper li{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 60%;
    margin-left: auto;
    padding: 3rem 0;
    border-top: 1px solid #fff;
    color: #fff;
    font-weight: 500;
    font-size: max(1.5rem,min(1.8vw,2.2rem));
}
.nbr{
    -webkit-font-smoothing: antialiased;
    font-family: Poppins;
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-size: max(1.5rem,min(1.8vw,2.2rem));
}
/* h1{
    font-family: mongoose;
    font-size: 30vh ;
    color: #f92e2d ;
    font-weight: bold;
} */
.skills .header
{
    font-family: mongoose,monospace;
    font-size: 100px;
    

}
.click{
    padding: 1% 1%;
    border: 1px solid #f92e2d;
    border-radius: 50vw;
}
.footer .touch{
    margin: 50px 0 !important;
    color: white;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about{
        bottom: 0;
        left: -8%;
        font-size: 30vh;
    }
    .me{
        top: 50vh;
        right: -3%;
        font-size: 30vh;
    }
    .title-primary p {
        font-size: 30vw;
        line-height: 1;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px)  */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px)and (max-width: 900px) {
    .about{
        bottom: 0;
        left: -1.5%;
        font-size: 35vh;
    }
    .me{
        top: 50vh;
        right: -4%;
        font-size: 35vh;
    }
    .title-primary p {
        font-size: 25vw;
        line-height: 1;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px)  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px)  */