body{
    background-color: var(--primary-bg);
    
}

.home-text p{
    display: block;
    position: absolute;
    top: 13vw;
    right: -5%;
    font-size: 75vh;
    color: transparent;
    -webkit-text-stroke: 1px rgba(249,45,45,.6117647059);
    font-family: mongoose,poppins;
    font-weight: bold;
}
.home-title h1{
    font-family: var(--header-font);
    font-size: 12vw;
    color: #f92e2d ;
    font-weight: bold;
}
.section-text p{
    display: block;
    position: absolute;
    /* top: 50vw; */
    left: -5%;
    font-size: 75vh;
    color: transparent;
    -webkit-text-stroke: 1px rgba(249,45,45,.6117647059);
    font-family: mongoose,poppins;
    font-weight: bold;
}

/* @media screen (min-width:450px) and (max-width:900px) {
    .section-text p{
        font-size: 30vh;
    }
} */