@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@font-face {
    font-family: mongoose;
    src: url('../assests/Fontspring-DEMO-mongoose-regular.otf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: mongoose;
    src: url('../assests/Fontspring-DEMO-mongoose-bold.otf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: mongoose;
    src: url('../assests/Fontspring-DEMO-mongoose-medium.otf') format('truetype');
    font-weight: light;
}
@font-face {
    font-family: mongoose;
    src: url('../assests/Fontspring-DEMO-mongoose-light.otf') format('truetype');
    font-weight: lighter;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
    overflow-x: hidden;

}


.content p{
    padding-right: 12.8px;
}

nav{
    padding: 0 5%;
}
.screen{
    height: 80vh;
}
p{
    font-size: 17px;
}
